@import url('https://fonts.googleapis.com/css2?family=Italianno&family=WindSong:wght@400;500&display=swap');

.italianno-regular {
  font-family: "Italianno", cursive, sans-serif;
  font-weight:100 ;
  font-style: normal;
  color: black;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 50px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: flex-start;
}

header figcaption {
    display: flex;
    gap: 40px; /* Espaçamento entre os links */
}

header figcaption a {
    text-decoration: none;
    color: black; /* Ajuste conforme necessário */
    font-weight: bold;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Ajuste conforme necessário */
}

p {
    font-family: "Italianno", cursive, sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 0; /* Ajuste conforme necessário */
}